<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Delete a Student</title>
</head>
<body>
  <p>Enter a Student ID to delete:</p>
  <form action="/student_delete" method="POST">
    <input type="text" name="id" placeholder="ID">
    <button type="submit">Delete</button>
  </form>
</body>
</html>