h1 {
	-- just to test
	-- background-color: blue;
}

body {
	position: relative;
	--position: 0;
	--top: 30px;
	--left: 10px;
	--right: 10px;
	--margin-left: 10 px;
	--margin-right: 10 px;
	--border: 1px solid;
	--width: 600 px;
	--height: 600 px;
}

img#octopus {
	--width: 275 px;
	--height: 167 px;
	position: absolute;
	border: 1px solid;
	--margin: auto;
	top: 100px;
	--left: 40%;
	right: 0px;
	margin-left: 44%;
	margin-right: 38%;
}

img#hat {
	--width: 210 px;
	--height: 288 px;
	position: absolute;
	top: 50px;
	right: -45px;
	margin-left: 44%;
	margin-right: 38%;
}

img#glasses {
	--width: 135 px;
	--height: 58 px;
	position: absolute;
	top: 200px;
	right: 33px;
	margin-left: 44%;
	margin-right: 38%;
}